
{% extends "base.html" %}
    {% block title %}About | ForgeFit{% endblock %}

    {% block content %}
    <div class="aboutpage">
    <footer>
        <div class="container">
            <div id="aboutus">About Us</div>
            <P id="aboutpara">

                Welcome to ForgeFit – where fitness meets family, and every rep takes you closer to your goals. We’re
                not just a gym; we’re a community of go-getters, dream-chasers, and wellness enthusiasts united by a
                passion for living stronger, healthier, and more empowered lives.

                At ForgFit, we believe that fitness is not one-size-fits-all. That’s why we’ve designed a space
                that caters to every fitness level, from beginners finding their rhythm to seasoned athletes chasing
                their next personal best.

                Our state-of-the-art equipment, dynamic group classes, and expert trainers are here to push you, inspire
                you, and celebrate every victory along the way. Whether you're here to build strength, gain confidence,
                or simply feel good in your skin, we’ve got your back.

                But what truly sets us apart? It’s the people. Our supportive community and welcoming atmosphere make
                every workout an experience you’ll look forward to.

                Join us today and let’s turn your fitness journey into a lifestyle you’ll love. Together, we’ll smash
                goals, crush limits, and unlock your true potential. Your best self is waiting – let’s find it together!

                ForgeFit – Stronger. Together.** </P>
           
        </div>
        <div class="footer">
            <div id="copyright">All Copyright Reserved © </div>
            <div id="copypara">This website and its content, including but not limited to text, graphics, logos, images,
                videos, and software, are the exclusive property of ForgeFit /ForgeFit LLC. Unauthorized use,
                reproduction, or distribution of any materials from this site without prior written consent is strictly
                prohibited.</div>
            <div id="get">Get In Touch</div>
            <div id="contact">Gulshan-e-Iqbal,karachi</div>
            <div id="mail">    ForgeFit@gmail.com</div>
            <div id="num">    03116567890 </div>
            </div>
    </footer>
</div>
    {% endblock %}