{% extends "base.html" %}

{% block title %}ForgeFit{% endblock %}

{% block content %}
<div class="home">
    <!-- logo div -->
    <div  class="left">
        <!-- <back src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlJTIwZ3ltfGVufDB8fDB8fHww" alt=""> -->
    </div>
    <div class="homeCon">
        <div class="con1">
            <h1 class="mainhead">ForgeFit</h1>
            <p class="mainpara">"Forge Your Path to Strength – Redefine Fitness with Purpose and Power" </p>
            <button class="button">Join Now</button>
        </div>
        <div class="con2">
       </div>
</div>
{% endblock %}